// COLORS
$primary-color: #571906;
$secondary-color: #050369;

$white-color: #fff;

$dark-grey: #333333;
$dark:#020214;
$dark-blue-text: #edecf3; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
